#background {
    width: 100%;
    height: 100%;
    background-color: gray;
}

#playBox    {
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.snake  {
    background-color: green;
    position: absolute;
}

body    {
    margin: 0;
    padding: 0;
}

.box    {
    background-color: blue;
    position: absolute;
    border: 1px black solid;
    display: inline-block;
}