#background {
    width: 100%;
    height: 100%;
    background-color: gray;
}

#playBox    {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

body    {
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
}

*   {
    touch-action: manipulation;
}

.box    {
    background-color: limegreen;
    position: absolute;
    border: 1px black solid;
    display: inline-block;
}

#loseScreen {
    display: none;
    background-color: white;
    width: 40%;
    height: 45%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 3;
    border-radius: 4%;
}

#theText    {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    font-size: 150%;
    text-align: center;
    margin: auto;
    position: absolute;
}

#theButton  {
    background-color: lightgreen;
    left: 0;
    right: 0;
    bottom: 10%;
    width: 20%;
    height: 20%;
    margin: auto;
    position: absolute;
    color: black;
    border-radius: 10%;
}

.innerBox   {
    background-color: transparent;
    position: relative;
    display: inline-block;
    z-index: 1;
}

div {
    touch-action: manipulation;
}