.topRow {
    color: black;
}

.middle {
    color: white;
    background-color: gray;
}

.rightColumn    {
    color: white;
    background-color: orange;
}

table   {
    width: 3.7in;
    height: 100%;
    background-color: black;
    border-radius: 3%;
}

button  {
    border-radius: 9%;
    width: 100%;
    height: 100%;
    touch-action: manipulation;
    border: none;
}

td  {
    font-size: 100%;
    width: 25%;
    padding: 1%;
}

#text   {
    font-size: 200%;
    color: white;
}